b{
	color: #9b49ce;
}
body {
	color: black;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	margin: 0;
}
h1 {
	font-weight: 300;
	display: center;
}
a {
    color: #9b49ce;
    text-decoration: none;
    border-bottom: none;
    width: auto;
}

a:hover {
	text-decoration: none;
	color: #c5a6e8;
}


p {
	margin-top: 0;
}
