/******* NavBar *******/
.nav ul {
  list-style: none;
  background-color: #851E5E;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Roboto', sans-serif;
  font-weight:300;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid white;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #B500B6;
  color: white;
}
 
.nav a.active {
  background-color: #fff;
  color: #851E5E;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
  .nav li {
    float: left;
  }
  .nav ul {
    overflow: hidden;
    width: 600px;
    margin: 0 auto;
  }
  .nav {
    background-color: #851E5E;
  }
}

/******** General/Home ******/
body {
	color: black;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	margin: 0;
}

.title {
	margin: 0 auto;
	margin-top: 15px;
	text-align: center;
	font-size: 40pt;
}

.content {
	margin-top: 45px;
	text-align: center;
}

.tagline {
	font-size: 22pt;
	font-weight: 300;
}

.time {
	font-size: 16pt;
	font-weight: 300;
}

h1 {
	font-weight: 300;
	display: center;
}

.bold {
	font-weight: 300;
}

/**** Buttony things ****/

.f {
	font-size: 32pt;
	margin-left: 10px;
	margin-right: 10px;
}


a {
    color: rgb(187, 0, 0);
    text-decoration: none;
    border-bottom: solid white 1px;
    width: auto;
}

a:hover {
	text-decoration: none;
	color: #666;
}
.button {
   border: 2px solid #bb0000;
   padding: 8px 16px;
   border-radius: 10px;
   vertical-align: middle;
}
.button:hover {
   border: 2px solid #666;
}

/********* Join *********/

/****** Events Stuff ******/

.event{
font-weight: 300;margin-bottom: 20px;}

.events_container{
margin: 0px 20% 0px 20%;
}

.events_header{
border-bottom: 1px solid black;
font-size: -webkit-xxx-large;
font-weight: 500;
}

.event .name{
font-size: 24pt;}

.event .date{
font-size: large;
font-weight: inherit;margin: 0;margin-left: 20px;}

.event .location{
font-weight: inherit;
}

.event .info{
	
}

/********* About *********/

/********* Contact *********/
