/******* NavBar *******/
nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: #9b49ce;
}
nav li, h1#nav-title {
  font-family: 'Roboto', sans-serif;
  font-weight:300;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid white;
}

nav a {
  text-decoration: none;
  display: block;
  transition: .3s background-color;
  color: #fff;
}

nav a:hover {
  background-color: #c5a6e8;
  color: white;
}

nav a.active {
  background-color: #fff;
  color: #9b49ce;
  cursor: default;
}

h1#nav-title {
  background-color: #9b49ce;
  text-align: center;
  margin: 0;
  color: #fff;
  transition: background-color .3s ease;
}

h1#nav-title.expanded {
  background-color: #c5a6e8;
}

@media screen and (max-width: 599px) {
  nav ul {
    height: 0;
    width: 100%;
    overflow: hidden;
    position: absolute;
    transition: height .5s ease;
  }

  ul.expanded {
    height: 201px;
  }
}

@media screen and (min-width: 600px) {
  h1#nav-title {
    display: none;
  }

  nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
  nav li {
    float: left;
  }
  nav ul {
    overflow: hidden;
    width: 600px;
    margin: 0 auto;
  }
  nav {
    background-color: #9b49ce;
  }

}

/******** General/Home ******/


.section_one{
	display: block;
	padding-top: 2em;
	text-align:center;
}
.logo{
	margin: auto;
	width: 350px;
	height:350px;
}
.title {
	margin: auto;
	font-size: 36pt;
	min-width: 415px;
	overflow: visible;
	margin-bottom: 40px;
}
.name{
	text-align: left;
	margin: 1em auto 1em auto;
	font-weight: 300;
	width: 350px;
}

@media screen and (min-width: 900px){
	.section_one{
		display: flex;
		padding-top:0;
		margin-top: 2em;
	}
	.title {
	margin: auto;
	margin-left: 40px;
	font-size: 36pt;
	min-width: 415px;
	overflow: visible;
	margin-bottom: 40px;
	}
	.name{
		text-align:left;
		margin-bottom: 25px;
		font-weight: 300;
	}
	.logo{
		margin-right: 40px;
	}
}

.section_two{
	padding:0 3em;
	margin: auto;
	text-align: left;
}
@media screen and (min-width: 500px){
	.tagline{
		padding-left: 2em;
	}
	.section_two{
		padding: 0 100px;
		max-width: 1000px;
	}
}
.header{
	font-size:25pt;
	padding-top: 1em;
	padding-left:1em;
	border-bottom: 1px solid;
}
.content {
	font-size:x-large;
	font-weight:300;
	padding: 2em;
	margin: auto;
	text-align: left;
	max-width: 1000px;
}

.tagline {
	font-size: 22pt;
	font-weight: 300;
}

.bold {
	font-weight: 300;
}

/**** Buttony things ****/

.button {
   border: 3px solid #9b49ce;
   text-align: center;
   padding: 8px 16px;
   border-radius: 10px;
   vertical-align: middle;
   font-size: 32px;
   font-weight: 300;
}
.button:hover {
   border: 2px solid #c5a6e8;
}
/********* Footer *********/
footer{
	text-align: center;
	width: 100%;
}
.social_icons{
	font-size: 3em;
	color: #fff;
}
.signature{
	margin: 0;
	margin-top: 1em;
	font-weight: 300;
	font-size: 9pt;
}
/********* Join *********/

.list{
	list-style-type: circle;
}

/****** Events Stuff ******/

.event{
	font-weight: 300;
	margin-bottom: 20px;
}

.events_container{
	margin: 0px 15% 0px 15%;
}

.events_header{
	border-bottom: 1px solid black;
	font-size: -webkit-xxx-large;
	font-weight: 500;
}

.event .name{
	font-size: xx-large;
	font-weight:600;
}

.event .date{
	font-size: x-large;
	font-weight: inherit;
	margin: 0;
	margin-top:5px;
	margin-left: 20px;
}

.event .location{
	font-weight: inherit;
}

.event .desc{
	font-size: large;
	font-weight: inherit;
	margin: 0;
	margin-top:5px;
	margin-left: 20px;
}

/********* About *********/

/********* Contact ******/
.split{
	text-align: center;
}

.left{
	display: -webkit-inline-box;
    margin: 2em;
}

.right{
	display: -webkit-inline-box;
    margin: 2em;
}
